# ===========================================
# Node.js / JavaScript Development
# ===========================================

# Dependencies
/node_modules
/.pnp
.pnp.js
# package-lock.json removed to allow committing for build/deploy
# yarn.lock removed to allow committing for build/deploy
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
/coverage
/.nyc_output
/cypress/videos
/cypress/screenshots

# Cache and intermediate files
.cache/
.eslintcache
.stylelintcache
.npm
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ===========================================
# Build outputs and Environment
# ===========================================

# Production builds
/build
/dist
/.next/
/out/
/storybook-static

# Environment variables
.env*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# ===========================================
# IDE and OS specific files
# ===========================================

# IDEs and editors
.idea/
.vscode/
.sublime-project
.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
*.pem
